.down-arrow {
    animation: 2s ease-in-out down-animation infinite;
}

@keyframes down-animation {
    0% {
        opacity: 0;
        transform: translate(-30px, -30px);
    }

    50% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(30px, 30px);
    }
}

.text-typing {
    margin: auto;
    width: 23ch;
    animation: typing 4s steps(23) infinite, blink 1s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    0% {
        width: 0;
    }

    25% {
        width: 23ch;
    }

    50% {
        width: 23ch;
    }

    75% {
        width: 23ch;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


.progress-bar {
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 50%;
    background-color: #f3f3f3;
    /* Background color of the circle */
}

.progress-circle-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    /* Create the circular shape */
    background-image: conic-gradient(#3e64ff 0%,
            #3e64ff 80%,
            transparent 50%);
}

.progress-circle-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    /* Create the circular shape */
    background-image: conic-gradient(#3e64ff 0%,
            #3e64ff 75%,
            transparent 50%);
}

.progress-circle-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    /* Create the circular shape */
    background-image: conic-gradient(#3e64ff 0%,
            #3e64ff 70%,
            transparent 50%);
}

#services .card svg path {
    transition: all 0.3s ease-in-out;
}

#services .card .line {
    transition: all 0.3s ease-in-out;
}

#services .card p {
    transition: all 0.3s ease-in-out;
}

#services .card:hover {
    background-color: #5274ff;
    color: #000000;
}

#services .card:hover svg path {
    fill: #ffffff;
}

#services .card:hover .line {
    background-color: #ffffff;
}

#services .card:hover p {
    color: #000000;
}



#freelancing {
    background-image: url("../Images/freelancing_bg.webp");
    background-position: center;
}


.animation-bottom {
    /* opacity: 0; */
    /* display: none; */
    animation: from-bottom 0.3s ease-in-out;
    /* transition: 0.3s ease-in-out; */
}

/* ANIMATION */
.from-bottom-animation {
    animation: from-bottom 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

@keyframes from-bottom {
    from {
        transform: translate(0%, 250px);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }

}

@keyframes from-bottom-rev {
    from {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    to {
        transform: translate(0%, 50px);
        opacity: 0;
    }

}

@keyframes from-top {
    from {
        transform: translate(0%, -50px);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }

}

@keyframes from-right {
    from {
        transform: translate(100%, 0%);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }

}

@keyframes from-left {
    from {
        transform: translate(-100%, 0%);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }

}